body{
    margin:0px !important;
}
.text-secondary-color{
    color: #00afdf;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    color:white;
    background: url("./imgs/background.jpg") center/cover no-repeat;
    background-color: rgb(70,70,70);
    background-blend-mode: multiply;
}
.my-card{
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(210,210,210);
    z-index: 10000;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.text-gray{
    color:gray;
}
.blink-me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.sort-btn{
    width: 150px;
}